.indexBackground {
  background: url("/img/backgroundImage2.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  animation-duration: 10s;
  background-attachment: fixed;
}

.background-text {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.background-text #logo-DTL-text {
  color: whitesmoke;
  border: 2px solid #e83a00;
  padding: 15px;
  animation-duration: 1.3s;
}
