.outer-container {
  font-size: 16px !important;
}

* {
  font-size: 14.2px !important;
}

.paddedHead {
  color: #e83a00;
  text-decoration: underline;
  font-weight: 500;
  padding-top: 20px;
}

.paddedText {
  font-size: 1.1rem;
  padding-left: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  * {
    font-size: 16px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
